.forget_container {
  border: 1px solid #000;
  /* padding: 20px; */
  max-width: 50%;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 2.5em;
  padding-left: 2.5em;
  border-radius: 5%;
  margin: auto;
  margin-top: 4em;
  background-color: rgb(234, 228, 121);
}

.header {
  margin-bottom: 1em;
  margin-top: 0em;
  cursor: default;
  text-align: center;
}

.forget-field {
  margin-bottom: 1.5em;
}

.err-msg {
  margin-bottom: 1.5em;
  color: red;
  text-align: center;
  font-size: 14px;
}

.back {
  margin-top: 1.5em;
}

.loading-spinner {
  cursor: wait;
  text-align: center;
  font-size: 24px;
  position: absolute;
  top: 50%;
  bottom: 50%;
  width: 100%;
}

.loading-spinner::after {
  content: "";
  display: inline-block;
  width: 0.3em;
  height: 1em;
  margin-left: 3px;
  animation: loadingDots 5s infinite;
}

@keyframes loadingDots {
  0% {
    content: ".";
  }
  10% {
    content: "..";
  }
  20% {
    content: "...";
  }
  30% {
    content: "....";
  }
  40% {
    content: ".....";
  }
  50% {
    content: "......";
  }
  60% {
    content: ".......";
  }
  70% {
    content: "........";
  }
  80% {
    content: ".........";
  }
  90% {
    content: "..........";
  }
}
