/* admin.css */
.user-profile {
  display: flex;
  margin: 20px;
}

.tab {
  padding: 15px;
  cursor: pointer;
  border-right: 3px solid transparent;
  transition: border-right 0.3s ease-in-out, background-color 0.3s ease-in-out;
  margin-bottom: 10px;
  background-color: #f7ca18; /* Light yellow background for tabs */
  color: #000; /* Black text color for tabs */
  border-radius: 5px; /* Rounded corners for tabs */
}

.tab.active {
  border-right: 3px solid #3498db;
  background-color: #d8dcde; /* Darker yellow background for the active tab */
  color: #007bff; /* Blue text color for the active tab */
  font-weight: bold; /* Added font-weight for better visibility */
}

.tab-content {
  flex: 1;
  padding: 20px;
}

.table-view {
  margin-top: 20px;
}

/* Styling for the tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

/* Styling for the item tabs */
.table-view h2 {
  color: #3498db;
  margin-bottom: 15px;
}

/* Styling for the item description */
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .user-profile {
    flex-direction: column;
  }

  .tab {
    margin-right: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation-modal {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.confirmation-modal p {
  margin-bottom: 20px;
}

.confirmation-buttons {
  display: flex;
  justify-content: center;
}

.confirmation-buttons button {
  margin: 0 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirmation-buttons .confirm {
  background-color: #27ae60; /* Green color for Confirm button */
  color: #fff;
}

.confirmation-buttons .cancel {
  background-color: #c0392b; /* Red color for Cancel button */
  color: #fff;
}

.confirmation-buttons button:hover {
  opacity: 0.8;
}
