.login-form-container, .login-form {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
 }
 
 .label-login {
     text-align: left;
     padding: 0.25rem 0;
 }
 
 input {
     margin: 0.5rem 0;
 }
 
 .log-button {
     background-color: rgb(243, 247, 4);
     border: none;
     padding: 20px;
     border-radius: 10px;
     cursor: pointer;
 }
 
 .form-swap-button {
     background: none;
     color: blue;
     text-decoration: underline;
 }
 
 .log-form-title {
     text-decoration: underline;
 }

.to_forgetpassword{
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 0;
    color: blue;
}