.user-profile {
  display: flex;
  margin: 20px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  border-right: 2px solid transparent;
  transition: border-right 0.3s ease-in-out;
}

.tab.active {
  border-right: 2px solid #3498db;
  background-color: #ecf0f1;
}

.tab-content {
  flex: 1;
  padding: 20px;
}

.profile-info {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f8f8;
}

.profile-info h2 {
  color: #3498db;
  margin-bottom: 15px;
}

.profile-info div {
  margin-bottom: 10px;
}

/* Styling for the tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

/* Styling for the item tabs */
.selling-items h2,
.buying-items h2,
.history h2 {
  color: #3498db;
  margin-bottom: 15px;
}

/* Styling for the item description */
.selling-items td,
.buying-items td,
.history td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styling for the exchange status */
.selling-items .exchange-status,
.buying-items .exchange-status {
  color: #27ae60; /* Green color for 'Yes' */
}

.selling-items .exchange-status[data-status="No"],
.buying-items .exchange-status[data-status="No"] {
  color: #e74c3c; /* Red color for 'No' */
}
