.reset_container{
    border: 1px solid #000;
    max-width: 50%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-right: 2.5em;
    padding-left: 2.5em;
    border-radius: 5%;
    margin: auto;
    margin-top: 4em;
    background-color: antiquewhite;
}

.lower {
    margin-bottom: 1.5em;
}

.requiements {
    align-self: center;
    text-align: left;
    width: fit-content;
} 

.text {
    display:flex;
    margin-left: 15%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.top_text {
    margin-top: 1em
}

.bot_text {
    margin-bottom: 1em;
}

.not_match {
    color: red
}

.match {
    color: green
}

